<!DOCTYPE html>
<html>
  <head>
    <title>LoginApp</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>

    <% if current_user %>
      Signed in as 
      <%= link_to '/cool' do %><b><%= current_user.name %></b><% end %> 
      <%= link_to 'Logout', '/logout' %> | 
    <% else %>
      <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %> | 
    <% end %>
    <%= link_to 'Protected', '/protected' %> | <%= link_to 'About', '/about' %>
    <br>


    <%= yield %>
  </body>
</html>
